/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(67,60,112);
    background: linear-gradient(180deg, #314868 0%, #5E458C 100%);
    background-attachment: fixed;
}